/* Write your CSS here */

.bg-container {
  height: 100vh;
  padding: 30px;
}
.main-container {
  width: 70%;
  margin: auto;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .main-container {
    width: 90%;
  }
}
.name-con {
  padding: 20px;
  background-image: url(https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png);
  height: 150px;
  width: 100%;
  background-size: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .name-con {
    text-align: center;
  }
}

.name {
  font-family: 'Roboto';
  font-size: 30px;
  color: #475569;
}
@media screen and (max-width: 768px) {
  .name {
    font-size: 20px;
  }
}

.welcome {
  font-family: 'Roboto';
  font-size: 17px;
  color: #475569;
}
@media screen and (max-width: 768px) {
  .welcome {
    font-size: 14px;
  }
}

.money-manager {
  color: #0b69ff;
  font-weight: 500;
}
.form-history-con {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .form-history-con {
    flex-direction: column;
  }
}
.add-transaction-con {
  width: 40%;
  padding: 20px 30px 20px 30px;
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .add-transaction-con {
    width: 100%;
  }
}
.add-transaction-heading {
  font-size: 25px;
  font-family: 'Roboto';
  color: #1e293b;
}
.label {
  font-family: 'Roboto';
  font-size: 13px;
  color: #7e858e;
}
.transaction-input {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 35px;
  border: 1px solid #cbd5e1;
  border-radius: 5px;
  width: 100%;
  outline: none;
  padding: 5px 10px 5px 10px;
  font-family: 'Roboto';
}
.select-el {
  margin-bottom: 20px;
  width: 100%;
  height: 35px;
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 1px solid #cbd5e1;
  outline: none;
}
.add-btn {
  cursor: pointer;
  width: 60px;
  height: 30px;
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  border: none;
  border-radius: 5px;
}

.history-heading-con {
  width: 50%;
  border: 1px solid #cbd5e1;
  margin-top: 30px;
  padding: 20px 30px 20px 30px;
}
@media screen and (max-width: 768px) {
  .history-heading-con {
    width: 100%;
  }
}
.history-con {
  display: flex;
  align-items: center;
  border: 1px solid #cbd5e1;
  padding-left: 15px;
  margin-bottom: 0;
}
.history-heading {
  font-family: 'Roboto';
  font-size: 25px;
}
.headings {
  width: 30%;
  font-family: 'Roboto';
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .headings {
    font-size: 12px;
  }
}
.ul-con {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
