/* Write your CSS here */

.li-con {
  display: flex;
  align-items: center;
  border: 1px solid #cbd5e1;
  padding-left: 15px;
}
.li-para {
  width: 30%;
  font-size: 14px;
  font-family: 'Roboto';
  color: #334155;
}
@media screen and (max-width: 768px) {
  .li-para {
    font-size: 13px;
  }
}
.del-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.del-img {
  width: 20px;
  height: 20px;
}
