/* Write your CSS here */
.money-details-con {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .money-details-con {
    flex-direction: column;
    width: 100%;
  }
}
.con {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 120px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .con {
    width: 100%;
    justify-content: start;
    padding-left: 30px;
    margin-bottom: 20px;
  }
}

.con-1 {
  background-color: #ecfccb;
  border: 1px solid #84cc16;
}
.con-2 {
  background-color: #cffafe;
  border: 1px solid #06b6d4;
}

.con-3 {
  background-color: #ede9fe;
  border: 1px solid #7c3aed;
}
.money-imgs {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.money-details-name-con {
}
.money-dtls-name {
  font-family: 'Roboto';
  color: #7e858e;
  margin-top: 0px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 6px;
}
.money-dtls-amt {
  font-family: 'Roboto';
  color: #334155;
  font-size: 25px;
  margin-bottom: 0;
  margin-top: 6px;
}
@media screen and (max-width: 768px) {
  .money-details-amt {
    font-size: 22px;
  }
}
